.col-xs-4{
	z-index: 2;
}

.mapHolder{
	height: 700px;
	background-color: lightblue;
	background-image: url("images/map.png");
}

.filter {
  display: inline;
  margin-left: 10px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0px;
  border-radius: 100%;
  margin:6px;
  border-width:3px;
}