body { overflow: hidden; }

ul{ padding-left:0; }

#map { position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; }
/*#map .ol-zoom { font-size: 1.2em; margin-left: 300px;}*/

#map { z-index: 35; }

.above { z-index: 45; position: relative;}

.inline {display: inline-block;}

.nowrap{white-space: nowrap;}

#searchbox{
  position: relative; 
  width: 400px;
  display: inline-block;
}

.queryForm{
	position: relative;
	z-index: 500;
	margin-top: 20px;
  	margin-left: 20px;
  	white-space: nowrap;
}

.autocom-input {
	width: 360px !important;
	white-space: nowrap;
}

.autocom-div {
	width: auto !important;
	display: inline-block;
}

.removeInputStyle {
	border: none;
	outline: 0;
	padding: 0 !important;
	font-size: inherit !important;
}

.location-options {
	vertical-align:top;
	display:inline-block;
	position:relative;
}

.filters {
	cursor: default;
	white-space: normal;
	width: 400px;
	position: relative;
}

.filter {
	margin: 2px;
	border: 1px solid black;
	background-color: white;
	padding: 2px;
	display: inline-block;
	border-radius: 3px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hover-text-shadow:hover {
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}

.bold {
	font-weight:bold;
}

.submitButton {
	float: right;
}

.location-radio {
	position:absolute;
}

#qrsbuttons{
  position: absolute;
  top:70px;
  width: 55px;
  margin-left: 0px;
  display: inline-block;
}

/*#placeholder{
  width: 20px;
  background-color: red;
}*/

#qrs-panel-title{
  display: inline-block;
}

#qrs-panel-title:hover{
  text-decoration: underline;
}

#export-btn{
  border: 0px;
  background: transparent;
  display: inline-block;
  position: absolute;
  right: 10px;
}

#qrspanel{
  position: relative;
  margin-top: 10px;
  margin-left: 70px;
  width: 350px;
  display: inline-block;
}


#qrs-panel-body{
  max-height: 450px;
  overflow-y: scroll; 
}

.side-margin {
  margin:0px;
  margin-left:3px;
  margin-right:3px;
}

html, body{
  margin: 0;
  width: 100%;
  height: 100%;
}

#map {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* MAP CONTROLS STYLING */
.olControlAttribution {
  bottom: 5px;
  font-size: smaller;
}

#customZoom {
  z-index: 1001;
  position: absolute;
  bottom: 120px;
  float: right;
  right: 60px;
}

#customZoom a {
  text-decoration: none;
  position: absolute;
  display: block;
  width: 30px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background: #369;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#customZoom a:hover {
  background: #036;
}
#customZoomOut {
  top: 30px;
}

#union-intersection{
  position: absolute;
  bottom: 20px;
  margin-left: 20px;
}

#slider-div{
  position: absolute;
  width: 40%;
  right: 25px;
  bottom: 25px;
}

#slider{
  position: absolute;
  width:100%;
  padding-bottom:20px;
  padding-top:20px;
  bottom: 5px;
  right: 120px;
}

#slider_btn{
  position: absolute;
  right: 0px;
  bottom: 0px;
  width:40px;
  border-width:0px;
  background: transparent;
}

/* QRS BUTTON STYLES*/
.btn-circle {
  position: relative;
  float: right;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0px;
  border-radius: 100%;
  border-width:3px;
  display: inline-block;
}

.bottom-margin{
  margin-bottom:8px;
}

.bottom{
  vertical-align: bottom;
}

#cross{
  left: 5px;
  background-color: red;
  display: inline-block;
}

.btn-invisible {
  background: transparent;
  background-color: transparent !important;
  background-image: none !important;
}

.btn-color-0 {
  background-color: #AA3939;
  border-color: #550000;
  background-image: linear-gradient(#AA3939, #801515);
}
.btn-color-0:hover,
.btn-color-0:focus { 
  background-color:#D46A6A;
  border-color: #550000;
  background-image: linear-gradient(#D46A6A, #D46A6A);
}

.btn-color-1 {
  background-color: #FCA815;
  border-color: #A16700;
  background-image: linear-gradient(#FCA815, #CC8201);
}
.btn-color-1:hover,
.btn-color-1:focus { 
  background-color:#FFBB45;
  border-color: #A16700;
  background-image: linear-gradient(#FFBB45, #FFBB45);
}

.btn-color-2 {
  background-color: #FFD51E;
  border-color: #AC8C00;
  background-image: linear-gradient(#FFD51E, #DBB200);
}
.btn-color-2:hover,
.btn-color-2:focus { 
  background-color:#FFDD49;
  border-color: #AC8C00;
  background-image: linear-gradient(#FFDD49, #FFDD49);
}

.btn-color-3 {
  background-color: #97D02F;
  border-color: #598902;
  background-image: linear-gradient(#97D02F, #76AD14);
}
.btn-color-3:hover,
.btn-color-3:focus { 
  background-color:#B0E353;
  border-color: #598902;
  background-image: linear-gradient(#B0E353, #B0E353);
}

.btn-color-4 {
  background-color: #25A450;
  border-color: #026C26;
  background-image: linear-gradient(#25A450, #108939);
}
.btn-color-4:hover,
.btn-color-4:focus { 
  background-color:#41B368;
  border-color: #026C26;
  background-image: linear-gradient(#41B368, #41B368);
}

.btn-color-5 {
  background-color: #256B8D;
  border-color: #06415E;
  background-image: linear-gradient(#256B8D, #135676);
}
.btn-color-5:hover,
.btn-color-5:focus { 
  background-color:#3D7C9B;
  border-color: #06415E;
  background-image: linear-gradient(#3D7C9B, #3D7C9B);
}

.btn-color-6 {
  background-color: #333D9A;
  border-color: #0F1766;
  background-image: linear-gradient(#333D9A, #1E2781);
}
.btn-color-6:hover,
.btn-color-6:focus { 
  background-color:#4C55A9;
  border-color: #0F1766;
  background-image: linear-gradient(#4C55A9, #4C55A9);
}

.btn-color-7 {
  background-color: #592C98;
  border-color: #300A65;
  background-image: linear-gradient(#592C98, #43187F);
}
.btn-color-7:hover,
.btn-color-7:focus { 
  background-color:#6E46A6;
  border-color: #300A65;
  background-image: linear-gradient(#6E46A6, #6E46A6);
}

.btn-color-8 {
  background-color: #A92681;
  border-color: #70024F;
  background-image: linear-gradient(#A92681, #8D1067);
}
.btn-color-8:hover,
.btn-color-8:focus { 
  background-color:#B94395;
  border-color: #70024F;
  background-image: linear-gradient(#B94395, #B94395);
}

.btn-color-9 {
  background-color: #CD2E53;
  border-color: #880221;
  background-image: linear-gradient(#CD2E53, #AB1437);
}
.btn-color-9:hover,
.btn-color-9:focus { 
  background-color:#E15273;
  border-color: #880221;
  background-image: linear-gradient(#E15273, #E15273);
}