/*overall*/
body { overflow: hidden; }

html, body, #top-controller{ 
  margin: 0; 
  padding: 0; 
  width: 100%;
  height: 100%;
}

ul{
  padding-left:0;
}

.tooltip .tooltip-inner {
  z-index: 10001;
  background-color: #369;
}

.tooltip.top .tooltip-arrow {
  border-top-color:  #369;
  z-index: 10001;
}

.right-margin{
  right: 5px;
}

.above { 
  z-index: 45; 
  position: relative;
}

.inline {
  display: inline-block;
}

.alignR{
  margin-left: 10px;
  float: right;
}

.hover-text-shadow:hover {
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}

.text-color{
 color: #31708f;
}

.bold {
  font-weight:bold;
}

.margintop{
  margin-top: 5px;
}

.uniform-height{
  height: 30px;
  line-height:30px;
  vertical-align: middle;
  font-size: 14px;
  padding-top: 0px;
}

/*map*/
#map {
  position: absolute;
  top: 0px; 
  bottom: 0px; 
  left: 0px; 
  right: 0px;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 35; 
}

.olControlAttribution {
  bottom: 5px;
  font-size: smaller;
}

#customZoom {
  z-index: 1001;
  position: absolute;
  bottom: 120px;
  float: right;
  right: 40px;
}

#customZoom a {
  text-decoration: none;
  position: absolute;
  display: block;
  width: 30px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background-color: #31b0d5;
  border: 1px solid #269abc;
  border-radius: 3px;
}

#customZoom a:hover {
  background:#31b0d9;
}

#customZoomOut {
  top: 30px;
}

/*user account*/
.account{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  cursor: default;
}

.savedQueries{
  position: absolute;
  right:0;
  top:45px;
  width:150px;
}

.removeSavedQuery{
  color: #31708f;
  top:8px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*map popover*/
.encounter-list{
  width:100%;
}

.encounter-name{
  margin: 0px;
  font-size: small;
}

.encounter-procedure{
 margin: 0px;
 font-size:medium;
 white-space: nowrap; 
 width: 100%;  
 overflow: hidden; 
 text-overflow:ellipsis;
}

.encounter-obeserver{
 margin: 0px;
 font-size: small;
 text-align: right;
}

.popover-list {
  max-height: 150px;
  min-width: 200px;
  overflow: auto;
}

/*QueryFormController*/
#myModal{
  z-index: 5000;
}

.queryForm{
  position: relative;
  min-width: 380px;
  width: 30%;
  z-index: 500;
  margin-top: 10px;
  margin-left: 10px;
  white-space: nowrap;
  display: inline-block;
}

#searchbox{
  position: relative; 
  width: 100%;
  display: inline-block;
}

.autocom-input {
  width: 89% !important;
  white-space: nowrap;
}

.autocom-div {
  width: auto !important;
  display: inline-block;
}

.removeInputStyle {
  border: none;
  outline: 0;
  padding: 0 !important;
  font-size: inherit !important;
}

.location-options {
  vertical-align:top;
  display:inline-block;
  position:relative;
}

.addCriteria{
  margin: 0px;
}

.filters {
  cursor: default;
  white-space: normal;
  width: 400px;
  position: relative;
}

.filter {
  margin: 2px;
  border: 1px solid #bce8f1;
  background-color: white;
  padding: 2px;
  display: inline-block;
  border-radius: 3px;
}

.submitButton {
  float: right;
}

.location-radio {
  position:absolute;
}

/*QueryResultController - history panel*/
.loading{
  margin-left: 10px;
}

.loading-img{
  width: 15px;
  height: 15px;
}
#loading-text{
  color: #31708f;
}

#thumbnail-history-panel{
  margin-left: 10px;
  margin-top: 10px;
}

.visibility-btn{
  border:0px;
  background-color: transparent;
}

#history-panel{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 30%;
  min-width: 380px;
  /*max-height: 30%;*/
   max-height: 150px;
}

#history-list{
  margin: 0px;
  /*max-height: 50px;*/
  max-height: 30%;
  overflow-y: scroll; 
}

.blue-tooltip{
margin-top: 3px;
}

.history-entry{
  height: 25px;
  line-height:25px;
  vertical-align: middle;
  padding-top: 0px;
}

/*QueryResultController - result panel*/
.anchorimg{
  width: 15px;
}

.triangle{
  border: 0px;
  background: transparent;
}

.section-heading{
  width: 100%;
  color: #31708f;
  padding-left: 10px;
  padding-top: 5px;
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
  height: 30px;
}

#encounter-content{
  margin-left: 10px;
  margin-right: 10px;
}

#qrs-panel-title:hover{
  text-decoration: underline;
}

#qrs-alias{
  color:#000;
  width: 80%;
}

#result-panel{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
  height: 70%;
  width: 30%;
  min-width: 380px;
}

#qrs-panel-body{
  max-height: 450px;
  overflow-y: scroll; 
  padding: 0px;
}

#encounter-filter{
  margin-top: 5px;
  margin-bottom: 5px;
}

/*time slider*/
#slider-panel{
  position: absolute;
  width: 760px;
  right: 10px;
  bottom: 25px;
  white-space: nowrap;
}

#slider{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 450px;
}

#slider-btn{
  border-radius: 100%;
  border-width: 2px;
}

#slider-granularity {
  width:90px;
}

#slider-scrollspeed {
  width:60px;
}

.slider-dropdown-menu {
  min-width: 0px;
}

.slider-dropdown-btn {
  width:100%;
}

/* QRS BUTTON STYLES*/
.btn-circle {
  position: relative;
  float: right;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0px;
  border-radius: 100%;
  border-width:3px;
  display: inline-block;
}

.bottom-margin{
  margin-bottom:10px;
}

.bottom{
  vertical-align: bottom;
}

.btn-indicator{
  width: 5px;
  height: 5px;
  /*border-radius: 100%;*/
  border-color: white;
}

.btn-invisible {
  background: transparent;
  background-color: transparent !important;
  background-image: none !important;
}

.btn-color-0 {
  background-color: #990606;
  border-color: #490000;
  background-image: linear-gradient(#990606, #740000);
}
.btn-color-0:hover,
.btn-color-0:focus { 
  background-color:#B71B1B;
  border-color: #490000;
  background-image: linear-gradient(#B71B1B, #B71B1B);
}

.btn-color-1 {
  background-color: #DC6200;
  border-color: #743300;
  background-image: linear-gradient(#DC6200, #AA4B00);
}
.btn-color-1:hover,
.btn-color-1:focus { 
  background-color:#FF7B11;
  border-color: #743300;
  background-image: linear-gradient(#FF7B11, #FF7B11);
}

.btn-color-2 {
  background-color: #FFD51E;
  border-color: #AC8C00;
  background-image: linear-gradient(#FFD51E, #DBB200);
}
.btn-color-2:hover,
.btn-color-2:focus { 
  background-color:#FFDD49;
  border-color: #AC8C00;
  background-image: linear-gradient(#FFDD49, #FFDD49);
}

.btn-color-3 {
  background-color: #97D02F;
  border-color: #598902;
  background-image: linear-gradient(#97D02F, #76AD14);
}
.btn-color-3:hover,
.btn-color-3:focus { 
  background-color:#B0E353;
  border-color: #598902;
  background-image: linear-gradient(#B0E353, #B0E353);
}

.btn-color-4 {
  background-color: #25A450;
  border-color: #026C26;
  background-image: linear-gradient(#25A450, #108939);
}
.btn-color-4:hover,
.btn-color-4:focus { 
  background-color:#41B368;
  border-color: #026C26;
  background-image: linear-gradient(#41B368, #41B368);
}

.btn-color-5 {
  background-color: #256B8D;
  border-color: #06415E;
  background-image: linear-gradient(#256B8D, #135676);
}
.btn-color-5:hover,
.btn-color-5:focus { 
  background-color:#3D7C9B;
  border-color: #06415E;
  background-image: linear-gradient(#3D7C9B, #3D7C9B);
}

.btn-color-6 {
  background-color: #333D9A;
  border-color: #0F1766;
  background-image: linear-gradient(#333D9A, #1E2781);
}
.btn-color-6:hover,
.btn-color-6:focus { 
  background-color:#4C55A9;
  border-color: #0F1766;
  background-image: linear-gradient(#4C55A9, #4C55A9);
}

.btn-color-7 {
  background-color: #592C98;
  border-color: #300A65;
  background-image: linear-gradient(#592C98, #43187F);
}
.btn-color-7:hover,
.btn-color-7:focus { 
  background-color:#6E46A6;
  border-color: #300A65;
  background-image: linear-gradient(#6E46A6, #6E46A6);
}

.btn-color-8 {
  background-color: #A92681;
  border-color: #70024F;
  background-image: linear-gradient(#A92681, #8D1067);
}
.btn-color-8:hover,
.btn-color-8:focus { 
  background-color:#B94395;
  border-color: #70024F;
  background-image: linear-gradient(#B94395, #B94395);
}

.btn-color-9 {
  background-color: #CD2E53;
  border-color: #880221;
  background-image: linear-gradient(#CD2E53, #AB1437);
}
.btn-color-9:hover,
.btn-color-9:focus { 
  background-color:#E15273;
  border-color: #880221;
  background-image: linear-gradient(#E15273, #E15273);
}