<!doctype html>
<html lang="en" ng-app="doraApp">
<head>
  <meta charset="utf-8">
  <title>Dora - Iteration 1</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/static/ol2/style.css">
  <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
  <link rel="stylesheet" href="/static/jquery-ui/jquery-ui.custom.css">
  <link rel="stylesheet" href="/static/angular-modules/slider/css/classic.css">
  <link rel="stylesheet" href="/static/angular-modules/allmighty-autocomplete/autocomplete.css">
  
  <script src="/static/angular/angular.js"></script>
  <script src="/static/jquery/jquery.js"></script>
  <!--<script src="/static/bootstrap/js/bootstrap.min.js"></script>-->
  <script src='/static/ol2/ol.js'></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <script src="/static/js/app.js"></script>
  <script src="/static/js/controllers.js"></script>
  <script src="/static/js/services.js"></script>
  <script src="/static/js/directives.js"></script>
  <script src="/static/js/qrspanel.js"></script>

  <script src="/static/jquery-ui/jquery-ui.custom.js"></script>
  <script src="/static/angular-modules/slider/jQDateRangeSlider-min.js"></script>
  <script type="text/javascript" src="/static/angular-modules/allmighty-autocomplete/autocomplete.js"></script>

</head>
{% verbatim %}
<body>
  <div id="map">
    <div id="customZoom">
      <a href="#customZoomIn" id="customZoomIn">+</a>
      <a href="#customZoomOut" id="customZoomOut">-</a>
    </div>
  </div>

  <div ng-controller="QueryFormController">
    <form ng-submit="submitQuery()">
      <div class="above" id="searchbox">
        <div class="input-group">
          <input ng-model="disease" type="search" placeholder="Enter medical condition here" class="form-control" />
          <div class="input-group-btn">
            <button type="submit" class="btn btn-info">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </div>
      </div>
      <dynamic-filter class="top-align" ng-repeat="filter in filters"></dynamic-filter>
      <button type="button" class="btn btn-info above top-align filter"
      ng-click="addFilter()">+ Filter</button>
    </form>
  </div>


  <div ng-controller="QueryResultController">

    <div class="above" id="qrsbuttons">
      <div class="nowrap" ng-repeat="qrs in QRSHistory"  ng-mouseleave="hover=false">
        <span ng-show="hover" ng-click="removeQRS($index)" class="glyphicon glyphicon-remove inline" style="left:5px;"></span>
       <!--  <span ng-show="!hover" id="placeholder"> </span> -->
        <button type="button" class="btn btn-success btn-circle btn-color-{{$index}} inline" ng-click="setDisplayedQRS($index);selectQRS($index);" ng-dblclick="toggleQRSMarkers($index);" ng-mouseenter="hover=true">{{$index}}</button>
      </div>
      <img src="/static/loading.gif" ng-show="loadingStatus.isLoading"/>
    </div>

    <div class="above" id="qrspanel">  
      <!-- ng-show="{{QRSHistory}}"    -->
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title" ng-click="panelVisible=!panelVisible" id="qrs-panel-title"> qrs {{displayedQRS.assigned[0].disease}} </h3>
          <button type="submit" ng-click="exportQRS()" id="export-btn">
            <img src="/static/images/export.png" width="20" height="20" alt="submit"/>
          </button>
        </div>
        <div ng-show="panelVisible" class="panel-body" id="qrs-panel-body">  
          <!-- {{displayedQRS}} -->
          <!--   <div id="pie-chart"></div> -->
          <div id="line-chart"></div>
        </div>
      </div>
    </div>
    <br/>

    <div id="union-intersection">
      <div class="btn-group above">
        <button type="button" class="btn btn-default btn-union-intersect" ng-click="selectionFunction = 'union'; selectionFlag = true;">Union</button>
        <button type="button" class="btn btn-default btn-union-intersect" ng-click="selectionFunction = 'intersect'; selectionFlag = true;">Intersect</button>
      </div>

      <button ng-repeat="qrs in selectedQRSList" type="button" class="btn btn-success btn-circle side-margin above">{{selectedQRSList[$index]}}</button>
      <button type="button" class="btn btn-primary above" ng-show="selectionFlag" ng-click="executeUnionIntersection()">Done</button>
      <button type="button" class="btn btn-danger above" ng-show="selectionFlag" ng-click="resetUnionIntersectVariables()">Cancel</button>
    </div>

  </div>


  <div ng-controller="TemporalSliderController" class="above" id="slider-div"> 
    <div ng-show="sliderVisible" id="slider"></div>
    <button type="submit" ng-click="sliderVisible=!sliderVisible" class="above" id="slider_btn">
      <img src="/static/images/temporal-slider.png" width="26" height="24" alt="submit" />
    </button>
  </div>

  {% endverbatim %}
  <!-- scripts loaded after html-->

</body>

</html>
